<!DOCTYPE html>

<title>New Industry</title>

{% block body %}
    <h1>Create new Industry</h1>

    {{ include('admin/industry/_form.html.twig') }}

    <a href="{{ path('admin.industry') }}">back to list</a>
{% endblock %}
