<form method="post" action="{{ path('admin.opportunity_stage.delete', {'id': opportunity_stage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ opportunity_stage.id) }}">
    <button class="btn">Delete</button>
</form>
