<!DOCTYPE html>

<title>New OpportunityStage</title>

{% block body %}
    <h1>Create new OpportunityStage</h1>

    {{ include('admin/opportunity_stage/_form.html.twig') }}

    <a href="{{ path('admin.opportunity_stage') }}">back to list</a>
{% endblock %}
