<nav class="h-16 bg-slate-800 rounded-xl shadow-lg mb-5 border-b border-slate-700 flex items-center justify-between px-6">

    <!-- gauche -->
    <div class="flex items-center">
            <img 
            src="{{ asset('logo/image.png') }}" 
            alt="logo IntelliLead"
            class="h-14 w-14 object-contain"
            >
            <span class="text-xl font-semibold text-gray-100 ml-3">
                Intelli<span class="text-teal-400">Lead</span>
            </span>
    </div>

    <!-- droite -->
    <div class="flex items-center gap-4">
        <button class="text-gray-400 hover:text-white">
            🔔
        </button>

        <img 
            src="{{ asset('images/profil.png') }}" 
            class="w-8 h-8 rounded-full"
        >
    </div>

</nav>