<p>
    Contact : <strong>{{ oc.contact.displayName }}</strong>
</p>

{{ form_start(form) }}
    {{ form_row(form.contact_role) }}

    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}